body 
  font-family: "Segoe UI", Tahoma, sans-serif;
  background-colors: #fab66b
}

p {
  color: navy;
  font-family: Arial, Segoe-UI, sans-serif;
}

.sale {
  font-weight: bold;
  background-color: aqua;
  font-style: italic;
  font-weight: bold;
}

.indent {
  text-indent: 5em;
}

#sidenote {
  background-color: #333333;
  display: inline;
  /*border-color:navy;*/
  /*border-style:dashed;*/
  /*border-width: 0px;*/
  /*border-left-width: 2px;*/
  /*border-right-width: 2px;*/
  border:2px solid navy;
  color: 333333;
}

#pagewidth {
  width: 500px;
}

a {
  text-decoration: none;
  color: darkgreen;
}

a:visited {
  color: #808080;
}

a:hover {
  text-decoration: double;
  font-weight: bold;
}

h1, h2, h3, h4, h5, h6 {
  font-familiy: helvetica, arial, sans-serif;
  font-variant: small-caps;
}

h1 {
  font-size: 18pt;
}

/*The background color extends across the page*/
figcaption {
  font-weight: bold;
  /*background-color: #AADDFF;*/
  display: inline;
  color: navy;
  background-color: aqua;
}

@media screen and (max-width: 500px) {
  body {
    background-color:white;
  }
}
