body {
  font-family: "Segoe UI", Tahoma, sans-serif;
  background-color: #fab66b
}

p {
  color: navy;
}

.sale {
  font-weight: bold;
  background-color: aqua;
  font-style: italic;
  font-weight: bold;
}

#sidenote {
  background-color: #dbd9d9;
  display: inline;
}

a {
  text-decoration: none;
  color: darkgreen;
}

a:visited {
  color: #808080
}

a:hover {
  text-decoration: underline;
  font-weight: bold;
}

h1, h2, h3, h4, h5, h6 {
  font-familiy: helvetica, arial, sans-serif;
  font-variant: small-caps;
}

figcaption {
  font-weight: bold;
  background-color: #AADDFF;
  display: inline;
  color: #032F0D;
}
